<title>Categories</title>
<div class="container">
  <app-sidenavbar></app-sidenavbar>

  <!--Main-->
  <div class="main-content">

    <button class="add-button" routerLink="/addcategorie">Ajouter</button>

    <!--Categories List-->
    <table class="table table-borderless at-2">
      <thead>
      <tr>
        <th>Id</th>
        <th>Categorie</th>
        <th>Modifier</th>

      </tr>
      <tr *ngFor="let c of categories; let i = index">
        <td>{{ i + 1 }}</td>

        <td>{{c.nomCat}}</td>
        <td>
          <button class="edit-button" routerLink="/updatecategorie/id/{{c.idCat}}"><i class='fas fa-edit'></i></button>
        </td>

      </tr>
      </thead>
    </table>

  </div>
</div>
