/* Sidebar Styles */
.deznav {
  background-color: #007bff;
  color: #fff;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: 0.5s;
}

.deznav-scroll {
  padding: 20px;
}

.metismenu {
  list-style: none;
  padding: 0;
}

.metismenu li {
  margin-bottom: 10px;
}

.metismenu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.metismenu li a i {
  margin-right: 10px;
}

.metismenu li a .nav-text {
  vertical-align: middle;
}

.logout {
  position: absolute;
  bottom: 0;
}

/* Hover Styles */
.metismenu li a:hover {
  background-color: rgba(2, 67, 107, 0.92);
  border-radius: 10px;
}
