<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a routerLink="/home">
          <i class="fa fa-dashboard"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li><a routerLink="/categories"><i class="fas fa-tags"></i><span class="nav-text">Categorie</span></a></li>
      <li><a routerLink="/articles"><i class="fas fa-box"></i><span class="nav-text">Article</span></a></li>
      <li><a routerLink="/clients"><i class="fas fa-user-alt"></i><span class="nav-text">Client</span></a></li>
      <li><a routerLink="/ventes"><i class="fas fa-cash-register"></i><span class="nav-text">Vente</span></a></li>
      <li><a routerLink="/fournisseurs"><i class="fas fa-truck"></i><span class="nav-text">Fournisseur</span></a></li>
      <li><a routerLink="/commendes"><i class="fas fa-cart-plus"></i><span class="nav-text">Commande</span></a></li>
      <li class="logout"><a routerLink="/login"><i class="fas fa-sign-out-alt"></i><span class="nav-text">LogOut</span></a></li>
    </ul>
  </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->
