<title>Add Article</title>

<div class="container">
  <app-sidenavbar></app-sidenavbar>

  <!--Main-->
  <div class="main-content">
    <h1>Ajouter Article</h1><br>
    <form #add="ngForm" (ngSubmit)="ajouter(add)">
      <div class="form-group">
        <label for="nomClt">Nom d'Article</label>
        <input type="text" ngModel name="nom" class="form-control" id="nomClt" placeholder="Nom" required>
      </div><br>

      <div class="form-group">
        <label for="categorie">Categorie</label>
        <select name="category" id="categorie" class="form-control" required ngModel placeholder="Categorie">
          <option value=""> Choisir Categorie: </option>
          <option *ngFor="let c of categories" [value]="c.nomCat"> {{c.nomCat}} </option>
        </select>
      </div><br>


      <div class="form-group">
        <label for="quantite">Quantite</label>
        <input type="number" required ngModel name="quantity" id="quantite" placeholder="Quantite" class="form-control">
      </div><br>


      <div class="form-group">
        <label for="prixUnit" class="label">Prix Unitaire</label>
        <input type="number" required ngModel name="prixUnit" id="prixUnit" placeholder="Prix Unitaire" class="form-control">
      </div><br>


      <div class="form-group">
        <label for="dateFab" class="label">Date de Fabrication</label>
        <input type="date" required ngModel name="dateFab" id="dateFab" class="form-control">
      </div><br>


      <div class="form-group">
        <label for="dateExp">Date d'Expiration</label>
        <input type="date" required ngModel name="dateExp" id="dateExp" class="form-control">
      </div><br>


      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <button type="button" id="add-client-form" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Annuler</button>
      </div><br>

    </form>
  </div>
</div>


