<title>Ajouter Fournisseur</title>
<div class="container">
  <app-sidenavbar></app-sidenavbar>

  <!--Main-->
  <div class="main-content">
    <h1>Modifier Article</h1><br>
    <form #edit="ngForm" (ngSubmit)="modifier(edit)">
      <div class="form-group">
        <label for="nomArt">Nom d'Article</label>
        <input type="text" [ngModel]="c.nomCat" name="nom" class="form-control" id="nomArt" placeholder="Nom" required>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Modifier</button>
        <button type="button" id="add-client-form" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Annuler</button>
      </div>
    </form>

  </div>
</div>
